@using System.ComponentModel
@model ScrumHelper.Models.Project

@{
    ViewBag.Title = "Twój projekt";
}
<h2>@Html.DisplayFor(Model => Model.Name)</h2>
<div>

    
    <div class="col-md-3" margin-top-20>
        
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Do zrobienia</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3" margin-top-20>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>W trakcie</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3" margin-top-20>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Testowane</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3" margin-top-20>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Gotowe</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


