@{
    ViewBag.Title = "Contact";
}


<address>
    <h1>
        
    </h1>
    <strong>Napisz:</strong> <a href="mailto:marcin.skorupinski@student.put.poznan.pl">marcin.skorupinski@student.put.poznan.pl</a><br/>

</address>