@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6" margin-top-20>
        <h2>Rejestracja</h2>
        <p>
            Utwórz nowe konto
        </p>
        <p>@Html.ActionLink(" Rejestracja", "Register", "Account", null , new {@class= "btn btn-default"})</p>
    </div>
    <div class="col-md-6" margin-top-20>
        <h2>Logowanie</h2>
        <p>Użyj istniejącego konta</p>
        <p>@Html.ActionLink(" Zaloguj", "Login", "Account", null , new {@class= "btn btn-default"})</p>
    </div>
</div>